@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.cover__strip.top:nth-child(2).right.open, .cover__strip.top:nth-child(2).left.open, .cover__strip.top:nth-child(2).close, .popup_window {
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid rgb(72, 216, 72);
}

.roller::-webkit-scrollbar {
  display: none;
  width: 5px;
}
.roller::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

body, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input {
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}
input::placeholder {
  color: rgb(206, 240, 255);
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}

textarea {
  background: none;
  resize: none;
}

.main_container {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.header__item:nth-child(1) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
}
.header__item:nth-child(2) {
  flex-basis: 70%;
}
.header__item:nth-child(3) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
}
.header__account {
  transition: all 0.2s ease-out;
}
.header__account.outer {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
}
.header__account.inner {
  height: 40px;
  width: 40px;
  background-image: url("/static/images/account2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1000px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
}
.header__account.inner:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.25);
}

.progress_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.progress_bar__item {
  color: #ffffff;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
}
.progress_bar__item.active:after {
  transition: transform 0.3s ease-out;
  transform: scale(1);
}
.progress_bar__item:after {
  transition: transform 0.3s ease-out;
  transform: scale(0, 1);
  content: "";
  position: relative;
  margin-top: 3px;
  display: block;
  border: solid #ffffff;
  border-width: 1px 0px 0px 0px;
}
.progress_bar__item:hover {
  transform: scale(1.03);
}

.switcher {
  width: 60%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
}
.switcher__item {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.switcher__item:nth-child(1) {
  background-image: url("/static/images/icon_vk_2.png");
}
.switcher__item:nth-child(2) {
  background-image: url("/static/images/icon_tg_2.png");
}
.switcher__item:nth-child(3) {
  background-image: url("/static/images/icon_steam_2.png");
}
.switcher__item:nth-child(4) {
  background-image: url("/static/images/icon_inst_2.png");
}
.switcher__item:hover {
  border: 2px solid #ffffff;
}

.content {
  height: 100%;
  background: linear-gradient(219.58deg, #4079AD 0.96%, #448199 24.18%, #498C80 82.85%, #4E9767 100%);
}

.ball {
  position: absolute;
  border-radius: 1000px;
  background: linear-gradient(400deg, #386376 15.43%, #5DA37E 83.66%);
}
.ball.animate {
  transition: transform 0.6s ease-out;
}
.ball:nth-child(1) {
  top: 20%;
  left: 10%;
}
.ball:nth-child(2) {
  height: 250px;
  width: 250px;
  top: 40%;
  left: 35%;
}
.ball:nth-child(3) {
  height: 180px;
  width: 180px;
  top: 30%;
  right: 10%;
}
.ball:nth-child(4) {
  height: 180px;
  width: 180px;
  top: 25%;
  right: 30%;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: move;
}
.slider__slide {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__slide.animate {
  transition: transform 0.5s ease;
}

.container {
  height: 80%;
  width: 80%;
  display: grid;
}
.container.mailing {
  margin: auto;
  align-content: center;
  justify-content: space-around;
  grid-template-columns: 25% 35%;
  grid-template-rows: 80%;
}
.box {
  height: 100%;
  width: 100%;
  position: relative;
}
.box__header {
  width: 90%;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  background-color: rgba(133, 209, 214, 0.8);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.23), inset 0px 0px 4px rgba(255, 255, 255, 0.23);
}
.box__content {
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.23), inset 0px 0px 4px rgba(255, 255, 255, 0.23);
}
.box__bottom {
  position: absolute;
  bottom: -25px;
  right: -25px;
  width: 80%;
  height: 50px;
  z-index: 1;
  background-color: rgba(133, 209, 214, 0.8);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.23), inset 0px 0px 4px rgba(255, 255, 255, 0.23);
}
.box__bottom .mailing {
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.box__bottom .mailing:hover {
  transform: scale(1.1);
}

.boxheader {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  height: 100%;
  min-width: 150px;
}
.boxheader::after {
  margin-left: 30px;
  height: 100%;
  width: 15px;
  content: " ";
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 1px 1px 0px;
  border-radius: 0 6px 6px 0;
}
.boxheader::before {
  margin-right: 30px;
  height: 100%;
  width: 15px;
  content: " ";
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0px 1px 1px;
  border-radius: 6px 0 0 6px;
}

.roller {
  height: 100%;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}
.roller__item {
  margin-top: 7px;
  display: flex;
}
.roller__item:nth-child(1) {
  margin-top: 32px;
}
.roller__item:nth-last-child(1) {
  margin-bottom: 32px;
}
.roller__item.left {
  justify-content: flex-start;
  margin-left: 5px;
}
.roller__item.right {
  justify-content: flex-end;
  margin-right: 5px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 6px;
}
.tag.mailing {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px rgba(255, 255, 255, 0.11) solid;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}
.tag.mailing .item:nth-child(1) {
  text-align: center;
  flex-grow: 1;
}
.tag.mailing .item:nth-child(2) {
  flex-basis: 15%;
}
.tag.mailing .item:nth-child(3) {
  flex-basis: 15%;
  height: 25px;
}
.tag.mailing .item:nth-child(4) {
  flex-basis: 15%;
  height: 25px;
}
.tag.mailingmsg {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}
.tag.mailingmsg .item:nth-child(1) {
  text-align: center;
  flex-grow: 1;
}
.tag.mailingmsg .item:nth-child(2) {
  flex-basis: 15%;
}
.tag.mailingmsg .item:nth-child(3) {
  flex-basis: 15%;
  height: 25px;
}

.popup {
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(219.58deg, #4079AD 0.96%, #448199 24.18%, #498C80 82.85%, #4E9767 100%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup.close {
  top: 200000px;
}

.popup_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.popup_window__header {
  display: flex;
  width: 100%;
  border: dashed #ffffff;
  border-width: 0px 0px 1px 0px;
}
.popup_window__header_item:nth-child(1) {
  padding: 10px;
  flex-grow: 1;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.popup_window__header_item:nth-child(2) {
  flex-basis: 15%;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.popup_window__header_item:nth-child(2):hover {
  transform: scale(1.03);
}
.popup_window__header_item:nth-child(3) {
  flex-basis: 15%;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.popup_window__header_item:nth-child(3):hover {
  transform: scale(1.03);
}
.popup_window_content {
  padding: 20px;
}

@keyframes anim_close_cover {}
.company_name {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
.company_name .item:nth-child(1) {
  color: #ffffff;
  font-size: 70px;
  font-family: "Comfortaa", cursive;
  display: flex;
  width: 40%;
  height: 20%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 23%;
}
.company_name .item:nth-child(1) .word {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}
.company_name .item:nth-child(1) .word:first-letter {
  color: #ffffff;
  font-size: 130px;
  font-family: "Comfortaa", cursive;
}
.company_name .item:nth-child(2) {
  color: #ffffff;
  font-size: 40px;
  font-family: "Comfortaa", cursive;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 10%;
  position: relative;
  margin: auto;
  top: 33%;
}
.company_name .item:nth-child(2) .word {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.cover {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.cover.top {
  z-index: 4;
  background: linear-gradient(219.58deg, #4079AD 0.96%, #448199 24.18%, #498C80 82.85%, #4E9767 100%);
}
.cover.top.close {
  display: none;
}
.cover__item {
  height: 100%;
  width: 50%;
}
.cover__item.right {
  display: flex;
  flex-direction: column;
}
.cover__item.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cover__strip {
  border: solid #ffffff;
  background: linear-gradient(219.58deg, #4079AD 0.96%, #448199 24.18%, #498C80 82.85%, #4E9767 100%);
  background-attachment: fixed;
}
.cover__strip.right {
  border-width: 0px 0px 0px 1px;
}
.cover__strip.left {
  border-width: 0px 1px 0px 0px;
  z-index: 6;
}
.cover__strip.top {
  width: 100%;
}
.cover__strip.top:nth-child(1) {
  height: 23%;
}
.cover__strip.top:nth-child(2) {
  background: blue;
  height: 20%;
  transition: all 1.5s ease-out;
}
.cover__strip.top:nth-child(2).close {
  background: red;
  width: 100%;
}
.cover__strip.top:nth-child(2).left {
  z-index: 3;
}
.cover__strip.top:nth-child(2).left.open {
  background: green;
  width: 140%;
}
.cover__strip.top:nth-child(2).right {
  z-index: 6;
}
.cover__strip.top:nth-child(2).right.open {
  background: green;
  width: 60%;
}
.cover__strip.top:nth-child(3) {
  height: 10%;
}
.cover__strip.top:nth-child(4) {
  height: 10%;
}
.cover__strip.top:nth-child(4).left {
  width: 80%;
}
.cover__strip.top:nth-child(4).right {
  width: 120%;
}
.cover__strip.top:nth-child(5) {
  height: 37%;
}
.cover__strip.open {
  width: 0%;
}
.cover__strip.close {
  width: 100%;
}
.cover__strip.open_to_close {
  transition: all 0.6s ease-out;
}
.cover__strip.close_to_open {
  transition: all 0.3s ease-in;
}
.button {
  height: 25px;
  width: 25px;
  transition: all 0.1s ease-out;
}
.button:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.1);
}
.button.plus {
  background-image: url("/static/images/button_plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.button.arrows {
  background-image: url("/static/images/button_arrows.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.button.cross {
  background-image: url("/static/images/button_cross.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.button.check {
  background-image: url("/static/images/button_check.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box.mailing_editor_window {
  width: 50%;
  height: 80%;
}
.box__header.mailing_editor_window {
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box__header.mailing_editor_window .item:nth-child(1) {
  flex-grow: 1;
  color: #ffffff;
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}
.box__header.mailing_editor_window .item:nth-child(2) {
  flex-basis: 10%;
}
.box__header.mailing_editor_window .item:nth-child(3) {
  flex-basis: 10%;
}
.box__content.mailing_editor_window {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.box__content.mailing_editor_window .item:nth-child(1) {
  margin-top: 30px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.box__content.mailing_editor_window .item:nth-child(2) {
  margin-top: 30px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.box__content.mailing_editor_window .item:nth-child(3) {
  margin-top: 7px;
  height: 50%;
  width: 100%;
}
.box__content.mailing_editor_window .item:nth-child(4) {
  margin-top: 30px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}
.box__content.mailing_editor_window .item:nth-child(5) {
  margin-top: 7px;
  width: 25%;
}

textarea.mailing_editor_window {
  background-color: rgba(255, 255, 255, 0.11);
  padding: 7px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
textarea.mailing_editor_window::placeholder {
  color: rgb(206, 240, 255);
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}

input.mailing_editor_window {
  background-color: rgba(255, 255, 255, 0.11);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  color: text_color_2;
  border-radius: 6px;
  width: 40%;
  margin-left: 15px;
}
input.mailing_editor_window::placeholder {
  color: rgb(206, 240, 255);
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}

/*# sourceMappingURL=nd_mailing.css.map */
