<!-- {% extends 'base.html' %}

{% block content %}
<p>Text</p>
{% endblock %}-->

<html>
    <head>
        <link type="text/css" href="/static/css/styles.css" rel="stylesheet"/>
        <title>No title</title>
    </head>

    <body>
        <div class="header">
            <div class="header__item">
                <div class="header__logo">
                </div>
            </div>
            <div class="header__item">
                <div class="header__navbar navbar">
                    <div class="navbar__option navbar__option_active"><a>Чат</a></div>
                    <div class="navbar__option"><a>Рассылки</a></div>
                    <div class="navbar__option"><a>Уведомления</a></div>
                    <div class="navbar__option"><a>Статиcтика</a></div>
                    <div class="navbar__option"><a>Админы</a></div>
                </div>
            </div>
            <div class="header__item">
                <div class="header__account-outer">
                    <div class="header__account-inner">

                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <div class="chatbox">
                    <div class="chatbox__header">Header</div>
                    <div class="chatbox__messager messager">
                        <li class="messager__message messager__message_bot">Hello</li>
                        <li class="messager__message messager__message_user">help</li>
                        <li class="messager__message messager__message_user">please</li>
                        <li class="messager__message messager__message_bot">Ok</li>
                    </div>
                    <div class="chatbox__sendbar"></div>
                </div>
            </div>
            <div class="content__item">
                <div class="selector">
                    <div class="selector__header"></div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
