<html>
    <head>
        <link type="text/css" href="/static/css/nd_chat.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nd_mailing.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nd_registration.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nd_singup_page.css" rel="stylesheet"/>
        <!--<link type="text/css" href="/static/css/common.css" rel="stylesheet"/>-->
        <meta charset="UTF-8">
        <title>AS1 lox</title>

        <script type="module" src="../static/js/nd_utils.js"></script>
        <script type="module" src="../static/js/nd_animations.js"></script>
        <script type="module" src="../static/js/chat.js"></script>
        <script type="module" src="../static/js/mailing.js"></script>
        <script type="module" src="../static/js/nd_registration.js"></script>
    
    </head>

    <body class="main_container" >

        <!-- #region company name -->
        <div class="cover top close" id="top_cover">
            <div class="company_name">
                <div class="item close" name="words"><div class="word">Dijkstra</div><div class="word">Sons</div></div>
                <div class="item close" name="words"><div class="word">IT</div><div class="word">company</div></div>
            </div>
    
            <div class="cover__item right">
                <div class="cover__strip left top"></div>
                <div class="cover__strip left top close" name="top_cover_strip"></div>
                <div class="cover__strip left top"></div>
                <div class="cover__strip left top close" name="top_cover_strip"></div>
                <div class="cover__strip left top"></div>
            </div>
            <div class="cover__item left">
                <div class="cover__strip right top"></div>
                <div class="cover__strip right top close" name="top_cover_strip"></div>
                <div class="cover__strip right top"></div>
                <div class="cover__strip right top close" name="top_cover_strip"></div>
                <div class="cover__strip right top"></div>
            </div>
        </div>

        <!-- #endregion -->

        <!-- #region cover -->
        <div class="cover" id="cover">
            <div class="cover__item right" id="cover_left"></div>
            <div class="cover__item left" id="cover_right"></div>
        </div>
        <!-- #endregion -->

        <!-- #region header -->
        <div class="header">
            <div class="header__item"><div class="switcher">
                <div class="switcher__item active"></div>
                <div class="switcher__item"></div>
                <div class="switcher__item"></div>
                <div class="switcher__item"></div>
            </div></div>
            <div class="header__item"><div class="progress_bar" id="progress_bar">
                <div class="progress_bar__item active">Чат</div>
                <div class="progress_bar__item">Рассылки</div>
                <div class="progress_bar__item">Статистика</div>
                <div class="progress_bar__item">Настройки</div>
            </div></div>
            <div class="header__item"><div class="header__account outer" id="account"><div class="header__account inner"></div></div></div>
        </div>

        <!-- #endregion header -->
        
        <!-- #region content -->
        <div class="content" id="content">

            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>

            <!-- slider -->
            <div class="slider" id="slider">
                <!-- slide 1 -->
                <div class="slider__slide _scrollable active">
                    <div class="container _scrollable mailing">
                        <!-- item 1 -->
                        <div class="container__item">
                            <div class="box">
                                <div class="box__header">
                                    <div class="boxheader">
                                            <input required class="input_text" id="input_user_name" type="text" placeholder="Bot name">
                                    </div>
                                </div>
                                <div class="box__content">
                                    <div class="roller"  id="chat_selector">
                                        <div class="roller__item">
                                            <div class="tag bot_name">
                                                <div class="item">Anton</div>
                                                <div class="button cross item"></div>
                                                <div class="button arrows item"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="box__bottom"></div>
                            </div>
                        </div>
                        <!-- end of item 1 -->
                        <!-- item 2 -->
                        <div class="container__item">
                            <div class="box">
                                <div class="box__header">
                                    <div class="boxheader">
                                        <div class="boxheader__mailingname" id="text_current_user">Not chosen</div>
                                    </div>
                                </div>
                                
                                <div class="box__content">
                                    <div class="roller"  id="chat_messager">
                                        <div class="roller__item right">
                                            <div class="tag chat_msg right">hello im writing something strange maye besdjnvfjsdnfvin</div>
                                        </div>
                                        <div class="roller__item left">
                                            <div class="tag chat_msg left">fgbdfgbfgbfgbgfdbfgbfgbbfgbfgb
                                            </div>
                                        </div>
                                        <div class="roller__item right">
                                            <div class="tag chat_msg right">
                                            </div>
                                        </div>
                                        <div class="roller__item left">
                                            <div class="tag chat_msg left"> \
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box__bottom"><textarea class="chat_msg" id="textarea_message" placeholder="Type your message "></textarea></div>
            
                            </div>
                        </div>
                        <!-- end of item 2 -->

                    </div>
                </div>
                <!-- end of slide 1 -->
                <!-- slide 2 -->
                <div class="slider__slide _scrollable">
                    <div class="container _scrollable mailing">
                        <!-- item 1 -->
                        <div class="container__item">
                            <div class="box">
                                <div class="box__header">
                                    <div class="boxheader mailing">
                                        <input required class="input_text" id="input_mailing_name" type="text" placeholder="Mailing name">
                                    </div>
                                </div>
                                <div class="box__content">
                                    <div class="roller"  id="selector">
                                        <div class="roller__item">
                                            <div class="tag mailing">
                                                <div class="clickable_text item">Name of mailing</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button arrows item"></div>
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box__bottom"></div>
                            </div>
                        </div>
                        <!-- end of item 1 -->
                        <!-- item 2 -->
                        <div class="container__item">
                            <div class="box">
                                <div class="box__header">
                                    <div class="boxheader">
                                        <div class="boxheader__mailingname" id="current_mailing_name">Not chosen</div>
                                    </div>
                                </div>
            
                                <div class="box__content">
                                    <div class="roller" id = "messager">

                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>
                                        <div class="roller__item">
                                            <div class="tag mailingmsg">
                                                <div class="clickable_text item">Name of mailing message</div>
                                                <input class="checkbox item" type="checkbox">
                                                <div class="button cross item"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="box__bottom" id='add_mailing_message_button'><div class="mailing">New message</div></div>
                            </div>
                        </div>
                        <!-- end of item 2 -->

                    </div>
                </div>
                <!-- end of slide 2 -->
                <div class="slider__slide _scrollable"></div>
                <div class="slider__slide _scrollable"></div>
            </div> <!-- end of slider -->
        </div>
        <!-- #endregion -->

        <!-- #region popup mailing msg editor-->
        <div class="popup close" id="mailing_editor_window">
            <div class="box mailing_editor_window">
                <div class="box__header mailing_editor_window">
                    <div class="item">Mailing message editor</div>
                    <div class="button check item" id="mailing_editor_save_button"></div>
                    <div class="button cross item" id="mailing_editor_close_button"></div>
                </div>
                <div class="box__content mailing_editor_window">
                    <div class="item">Name: <input required class="mailing_editor_window"  type="text" placeholder="Type mailing's message name" id="mailing_editor_message_name"></div>
                    <div class="item">Message content:</div>
                    <div class="item"><textarea class="mailing_editor_window" id="mailing_editor_message_text" placeholder="Type mailing's message content"></textarea></div>
                    <div class="item">Sending time:</div>
                    <div class="item"><input type="datetime-local" id="mailing_editor_message_time"></div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region popup registration page -->
        <div class="popup close" id="singin_page">
            <div class="box registration_page">
                <div class="box__header registration_page">
                    <div class="item">Sing in</div>
                </div>
                <div class="box__content registration_page">
                    <div class="item"><div class="item2"></div><input required id="singin_name" class="item2 registration_page"  type="text" placeholder="Name"></div>
                    
                    <div class="item"><div class="item2"></div><input required id="singin_password" class="item2 registration_page"  type="password" placeholder="Password"> </div>
                    <div class="item"><div class="item2" id="singin_button">Sing in</div></div>
                    <div class="item"></div>
                    <div class="item">
                        <input class="item2" type="checkbox">
                        <div class="item2">Remember me? </div>
                        <div class="item2" id="goto_singup_button">Sing up</div>
                        <div class="item2">Forgot password?</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- #endregion -->


        <!-- #region popup singup page -->
        <div class="popup close" id="singup_page">
            <div class="box singup_page">
                <div class="box__header singup_page">
                    <div class="item">Sing up</div>
                </div>
                <div class="box__content singup_page">
                    <div class="item"><div class="item2"></div><input required class="item2 singup_page"  type="text" placeholder="Name" id="singup_name"></div>
                    <div class="item"><div class="item2"></div><input required class="item2 singup_page"  type="text" placeholder="Email" id="singup_email"></div>
                    <div class="item"><div class="item2"></div><input required class="item2 singup_page"  type="password" placeholder="Password" id="singup_password"> </div>
                    <div class="item"><div class="item2"></div><input required class="item2 singup_page"  type="password" placeholder="Repeat password" id="singup_password_2"> </div>
                    <div class="item"><div class="item2" id="singup_button">Sing up</div></div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        
    </body>
</html>
