<html>
    <head>
        <link type="text/css" href="/static/css/nd_common.css" rel="stylesheet"/>
        <!--<link type="text/css" href="/static/css/common.css" rel="stylesheet"/>-->
        <meta charset="UTF-8">
        <title>No title</title>
    </head>

    <body class="main_container">
        <div class="header">
            <div class="header__item"><div class="switcher">
                <div class="switcher__item active"></div>
                <div class="switcher__item"></div>
                <div class="switcher__item"></div>
                <div class="switcher__item"></div>
            </div></div>
            <div class="header__item"><div class="progress_bar">
                <div class="progress_bar__item">Рассылки</div>
                <div class="progress_bar__item">Чат</div>
                <div class="progress_bar__item">Статистика</div>
                <div class="progress_bar__item">Настройки</div>
            </div></div>
            <div class="header__item"><div class="header__account outer"><div class="header__account inner"></div></div></div>
        </div>
        <!-- content -->
        <div class="content" id="content">
            <div class="slider" id="slider">
                <div class="slider__slide active"></div>
                <div class="slider__slide"></div>
            </div>
        </div>

    <script src="../static/js/nd_animations.js"></script>
    </body>
</html>

    <!--<div class="tmp"><div class="icon"></div></div>-->
            <!--
            <div class="cover">
                <div class="cover__icon left" id="cover_icon_left"><div></div></div>
                <div class="cover__icon right" id="cover_icon_right"><div></div></div>
    
                <div class="cover__item right" id="cover_left"></div>
                <div class="cover__item left" id="cover_right"></div>
            </div>-->
