@import "null_style.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%tmpldebug {
    background-color: rgba(255, 3, 3, 0.26); border: 2px solid rgb(72, 216, 72);
}

@mixin text($size, $color) {
    color:$color;
    font-size: $size;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("/static/images/background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

$stride: 0.8;
$size_logo: 70px;
$size_account: 80px;
$size_search_bar: 70px;
$messagecurve: 20px;
$box_radius: 20px;
$tag_radius: 8px;

$bluecolor: #0087DD;
$lightbluecolor: #7eceff; 
$darkgreycolor: #222324;
$greycolor: #404143;
$lightgreycolor: #C4C4C4;
$greencolor: rgb(94, 205, 50);

$icon_logo: url("/static/images/logo.png");
$icon_account: url("/static/images/account.jpg");
$icon_plane_button: url("/static/images/message_plane.png");
$icon_plus_button: url("/static/images/plus_button.png");
$icon_delete_button: url("/static/images/delete_button.png");


.clickable_text {
    color: white;
    &:hover {
        color: $lightgreycolor;
    }
}

.small_text {
    @include text(15px, white);
}


.input_text {
    background: none;
    //size: 120;
    @include text(15px, white);
    //@extend %tmpldebug;
    &::placeholder {
        @include text(15px, $lightgreycolor)
    }
}

/*.input_textarea {
    resize: none;
    background: none;
}*/

.input_time {
    background: none;
    @include text(15px, white)
}


.header {
    display: flex;

    height: 15%;
    min-height: 100px;
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;

    overflow: visible;

    //@extend %tmpldebug;

    &__item {
        //@extend %tmpldebug;
    }

    &__item:nth-child(1) {
        flex-basis: 15%;
    }

    &__item:nth-child(2) {
        flex-basis: 50%;
        height: $size_search_bar; 
    }

    &__item:nth-child(3) {
        flex-basis: 15%;
        //@extend %tmpldebug;
    }

    &__logo {
        background-image: $icon_logo;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: $size_logo;
        //@extend %tmpldebug;
    }

    &__navbar {
        width: 100%;
        height: 100%;
        border: 3px solid $bluecolor;
        border-radius: 50px;
        //@extend %tmpldebug;
    }

    &__account-outer {
        position: relative;
        height: $size_account;
        width: $size_account;
        margin-left: -$size_account / 2;
        border-radius: 50%;
        left:50%;

        border: 3px solid $bluecolor;

    }
    &__account-inner {
        background-image: $icon_account;
        background-size: cover;
        background-position: center;

        position: relative;
        height: $size_account * $stride;
        width: $size_account * $stride;
        border-radius: 50%;
        left:50%;
        top:50%;
        margin-left: -$size_account * $stride / 2;
        margin-top: -$size_account * $stride / 2;

        border: 3px solid $bluecolor;
    }

    &__account-inner:hover {
        background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%), $icon_account;
        //background: radial-gradient(circle, rgba(0,255,252,0) 0%, rgba(255,255,255,1) 76%, rgba(0,212,255,0) 100%);
    }
}

.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;

    &__option {
        @include text(25px, white);

        &_active:after {
            content: '';
            display: block;
            position: relative;
            border: 2px solid #0087DD;
            border-radius: 50px;
        }
    }

    &__option:hover {
        color: $lightbluecolor;
    }

    &__option:visited {
        color:white;
    }
}

.content {
    //@extend %tmpldebug;
    margin-top: 2%;
    height: 70%;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &__item {
        height: 90%;
    }

}

.box {
    //@extend %tmpldebug;
    display: flex;
    height: 100%;

    flex-direction: column;
    overflow: hidden;

    background-color: $darkgreycolor;
    border-radius: $box_radius;
    box-shadow: 5px 5px 5px;

    &__header {
        display: flex;
        justify-content: center;

        height: 50px;
        min-height: 50px;
        //@extend %tmpldebug;
        
        background-color: $greycolor;
        border-radius: $box_radius $box_radius 0 0;
    }

    &__content {
        min-height: 200px;
        flex-grow: 1;
        overflow-y: scroll;
        //@extend %tmpldebug;
    }

    &__bottom {
        display: flex;
        justify-content: center;

        height: 50px;
        min-height: 50px;
        //@extend %tmpldebug;

        background-color: $greycolor;
        border-radius:  0 0 $box_radius $box_radius;



    }
}

// Icons
.icon {
    align-self: center;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    //@extend %tmpldebug;

    // send button icon
    &_plane {
        background-image: $icon_plane_button;
    
        &:hover {
            background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_plane_button;
        }
    }

    // add button icon
    &_plus {
        background-image: $icon_plus_button;
    
        &:hover {
            background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_plus_button;
        }
    }

    // delete button icon
    &_delete {
        background-image: $icon_delete_button;
    
        &:hover {
            background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_delete_button;
        }
    }
}


// checkbox button
.checkbox {
    @extend %tmpldebug;
    border-radius: 100%;
    width: 20px;
    height: 15px;
}




@keyframes anim_popup {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(2);
    }
  }

.boxheader {
    display:inline-flex;

    justify-content: center;
    align-items: center;

    border-style: solid;
    border-color: $bluecolor;
    border-width: 0px 3px 0px 3px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px black;
    //border-radius: 50px;
    min-width: 150px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    &__username {
        text-align: center;
        @include text(20px, white);
        //@extend %tmpldebug;
    }

    &__mailingname {
        text-align: center;
        @include text(20px, white);
    }

    transition: all 0.1s ease-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 4px 4px 5px black;
    }
}

.roller {
    //@extend %tmpldebug;

    &__item {
        display: flex;
        margin-top: 3px;
        //@extend %tmpldebug;

        &_left {
            justify-content: flex-start;
            margin-left: 5px;
        }

        &_right {
            justify-content: flex-end;
            margin-right: 5px;
        }
    }
}

.popup{
    width:100%;
    min-height:100%;
    background-color: rgba(141, 141, 141, 0.3);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %tmpldebug;

    opacity: 1;

    top: 0px;

    transition: opacity 0.3s ease-out;

    &_close {
        transition-property: opacity, top;
        transition-timing-function: ease-out;
        transition-duration:  0.3s, 0s;
        transition-delay: 0s, 0.3s;
        opacity: 0;
        top: 2000px;
    }
}

.popup_window {
    //border: 1px solid white;
    width: 40%;
    height: 600px;
    box-shadow: 7px 7px 5px black;
    background-color: $darkgreycolor;

    &_header {
        display: flex;
        //height:25px;
        width:100%;
        border: dashed  $lightgreycolor;
        border-width: 0px 0px 1px 0px;

        &_item:nth-child(1) {
            padding: 10px;
            flex-grow: 1;
            @include text(15px, $lightgreycolor)

        }

        &_item:nth-child(2) {
            height: 23px;
            flex-basis: 10%;
        }

        &_item:nth-child(3) {
            height: 23px;
            flex-basis: 10%;
            //@extend %tmpldebug;
        }


        //@extend %tmpldebug;
    }

    &_content {
        padding: 20px;
    }
}


/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $greycolor;
}

*::-webkit-scrollbar-thumb {
    background-color: $lightgreycolor;
    border-radius: 10px;
  //border: 3px solid orange;
}
