@import "null_style.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%tmpldebug {
    background-color: rgba(255, 3, 3, 0.26); border: 2px solid rgb(72, 216, 72);
}

@mixin text($size, $color) {
    color:$color;
    font-size: $size;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("/static/images/background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

$stride: 0.8;
$size_logo: 70px;
$size_account: 80px;
$size_search_bar: 70px;
$messagecurve: 20px;

$bluecolor: #0087DD;
$lightbluecolor: #7eceff; 
$darkgreycolor: #222324;
$greycolor: #404143;
$lightgreycolor: #C4C4C4;
$greencolor: rgb(94, 205, 50);

$icon_logo: url("/static/images/logo.png");
$icon_account: url("/static/images/account.jpg");
$icon_plane_button: url("/static/images/message_plane.png");
$icon_plus_button: url("/static/images/plus_button.png");
$icon_delete_button: url("/static/images/delete_button.png");

.header {
    display: flex;

    height: 15%;
    min-height: 100px;
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;

    overflow: visible;

    @extend %tmpldebug;

    &__item {
        //@extend %tmpldebug;
    }

    &__item:nth-child(1) {
        flex-basis: 15%;
    }

    &__item:nth-child(2) {
        flex-basis: 50%;
        height: $size_search_bar; 
    }

    &__item:nth-child(3) {
        flex-basis: 15%;
        //@extend %tmpldebug;
    }

    &__logo {
        background-image: $icon_logo;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: $size_logo;
        //@extend %tmpldebug;
    }

    &__navbar {
        width: 100%;
        height: 100%;
        border: 3px solid $bluecolor;
        border-radius: 50px;
        //@extend %tmpldebug;
    }

    &__account-outer {
        position: relative;
        height: $size_account;
        width: $size_account;
        margin-left: -$size_account / 2;
        border-radius: 50%;
        left:50%;

        border: 3px solid $bluecolor;

    }
    &__account-inner {
        background-image: $icon_account;
        background-size: cover;
        background-position: center;

        position: relative;
        height: $size_account * $stride;
        width: $size_account * $stride;
        border-radius: 50%;
        left:50%;
        top:50%;
        margin-left: -$size_account * $stride / 2;
        margin-top: -$size_account * $stride / 2;

        border: 3px solid $bluecolor;
    }

    &__account-inner:hover {
        background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%), $icon_account;
        //background: radial-gradient(circle, rgba(0,255,252,0) 0%, rgba(255,255,255,1) 76%, rgba(0,212,255,0) 100%);
    }
}

.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;

    &__option {
        @include text(25px, white);

        &_active:after {
            content: '';
            display: block;
            position: relative;
            border: 2px solid #0087DD;
            border-radius: 50px;
        }
    }

    &__option:hover {
        color: $lightbluecolor;
    }

    &__option:visited {
        color:white;
    }
}

.content {
    //@extend %tmpldebug;
    margin-top: 2%;
    height: 70%;
    min-height: 500px;

    display: flex;
    justify-content: space-around;

    &__item {
        background-color: $darkgreycolor;
        border-radius: 30px;
        height: 90%;
        margin: auto;
    }

    &__item_chat:nth-child(1) {
        flex-basis: 30%;
    }
    &__item_chat:nth-child(2) {
        flex-basis: 40%;
    }

    &__item_statistics:nth-child(1) {
        flex-basis: 40%;
    }

    &__item_mailing:nth-child(1) {
        flex-basis: 20%;
    }

    &__item_mailing:nth-child(2) {
        flex-basis: 40%;
    }
}

.box {
    //@extend %tmpldebug;
    display:flex;
    height: 100%;

    flex-direction: column;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: center;

        height: 50px;
        min-height: 50px;
        //@extend %tmpldebug;
        
        background-color: $greycolor;
        border-radius: 30px 30px 0 0;
    }

    &__roll {
        flex-grow:1;
        min-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        //@extend %tmpldebug;
    }

    &__bottom {
        display: flex;
        justify-content: center;

        height: 50px;
        min-height: 50px;
        //@extend %tmpldebug;

        background-color: $greycolor;
        border-radius:  0 0 30px 30px;

        &_mailing {
            @include text(20px, white);
            align-items: center;
            @extend %tmpldebug;

            &:hover {
                @include text(20px, $greencolor);
            }
        }

    }

    &__input {
        background: none;
        resize: none;
        
        height: 80%;
        width: 75%;
        margin: 0px;
        padding-right: 20px;
        @include text(20px, white);
        //@extend %tmpldebug;
    }

    &__icon {
        align-self: center;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 60%;
        @extend %tmpldebug;
    }

}

.icon_plane {
    background-image: $icon_plane_button;

    &:hover {
        background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_plane_button;
    }
}

.icon_plus {
    background-image: $icon_plus_button;

    &:hover {
        background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_plus_button;
    }
}

.icon_delete {
    background-image: $icon_delete_button;

    &:hover {
        background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 60%), $icon_delete_button;
    }
}

.checkbox {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    @extend %tmpldebug;
}



.messager {
    &__message {
        font-size: 20;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 12px;
        padding-left: 12px;
        white-space: pre-wrap;
        clear: both;
        background-color: $greycolor;
        margin-top: 3px;
        margin-bottom: 3px;
        display: inline-block;
        resize: none;
        overflow: hidden;
        width: 300px;

        @include text(20px, white);
        border-radius: $messagecurve;
        
        &_left {
            float: left;
            margin-left: 10px;
        }

        &_right {

            float: right;
            margin-right: 10px;
        }

        &_delayed {
            float: left;
            margin-left: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: $greencolor;
        }
 
    }

    &__setting {
        display: flex;
        justify-content: space-around;
        align-items: center;

        clear: both;

        height: 50px;

        background-color: $greycolor;
        margin-top: 5px;
        margin-bottom: 20px;
    
        //@extend %tmpldebug;
    
        @include text(20px, white);
    
    }


    &__time {
        font-size: 20;
        padding-right: 12px;
        padding-left: 12px;
        display: inline-block;
        white-space: pre-wrap;
        clear: both;
        margin-top: 1px;
        margin-bottom: 10px;
        border-radius: $messagecurve;

        @include text(10px, $lightgreycolor);

        &_left {
            float: left;
            margin-left: 10px;
        }
        
        &_right {
            float: right;
            margin-right: 10px;
        }
    }
    
}


.user {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;

    background-color: $greycolor;
    margin-top: 5px;

    margin-left: 3px;
    margin-right: 3px;



    //@extend %tmpldebug;

    @include text(20px, white);

    border-radius: $messagecurve;

    &__name {
        flex-basis: 50%;
        flex-grow: 1;
        margin-left: 15px;
        margin-right: 15px;
        color: $greencolor;
        @extend %tmpldebug;
    }
}


.boxheader {
    display:inline-flex;

    justify-content: center;
    align-items: center;

    border: 3px solid $bluecolor;
    border-radius: 50px;
    min-width: 150px;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;

    &__username {
        text-align: center;
        @include text(20px, white);
        //@extend %tmpldebug;
    }

    &__mailingname {
        text-align: center;
        @include text(20px, white);
    }

    &__input {
        background: none;
        size: 10;
        @include text(15px, white);
        //@extend %tmpldebug;
    }

    &__input::placeholder {
        @include text(15px, $lightgreycolor)
    }
}

.mailing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;

    height: 50px;

    background-color: $greycolor;
    margin-top: 5px;


    //@extend %tmpldebug;

    @include text(20px, white);

    border-radius: $messagecurve;

    &__name {
        flex-basis: 50%;
        flex-grow: 1;
        margin-left: 15px;
        margin-right: 15px;
        color:$greencolor;
        //@extend %tmpldebug;
    }

}


/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $greycolor;
}

*::-webkit-scrollbar-thumb {
    background-color: $lightgreycolor;
    border-radius: 10px;
  //border: 3px solid orange;
}
